# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.sqlite3
django-backend/.idea/workspace.xml
django-backend/campus-connect/secret_key.py
django-backend/campus-connect/__pycache__/
django-backend/campus-connect/migrations (1)/
django-backend/campus-connect/migrations/