#Header {
  width: 100vw;
  height: 60px;
  background-color: #f8f8f8;
  color: #777;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  flex-direction: row;
}
