.Login {
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/CCSFClubs.png);
  background-size: cover;
  flex: 1;
  color: white
}

#my-signin2 * {
  display: block;
}
